.zombie{
    height: 312px;
    width: 200px;
    background: url("images/walkingdead.png") 0px 0px;
    position: absolute;
    left: 1480px;
}

#game{
    display: flex;
    flex-wrap: wrap;
    width: 1680px;
    height: 1050px;
    background: url("images/board-bg.jpg");
    overflow: hidden;
    
}

#points{
    height: auto;
    color: white;
    justify-self: flex-end;
    font-size: 70px;
    
}

.stat-container{
    align-self: flex-start;
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 1680px;
}


.stat-container img{
    height: 100px;
    
}

#gamescreen{
    height: 950px;
    width: 1680px;
    flex: end;
    display: flex;
    align-content: center;
    justify-content: center;
}

.reset{
    align-self: center;
    width: 400px;
    height: 250px;
    background-color: gray;
    color: white;
    font-size: 75px;
    text-align: center;
}

.crosshair{
    height: 200px;
    width: 200px;
    background: url("images/aim.png") 0px 0px;
    background-size: 100%;

    position: absolute;
    

}